#colores {
    color: blueviolet;
}
#fuentes{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#hexa{
    color: #33922f;
}
#red{
    color: red;
}
#rgb{
    color: rgb(134, 49, 209);
}
p{
    color: blue;
}